# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Environment 
appsettings.Development.json

# Others
*.swp
*.bak
*.tmp
*.log

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Build/artefatos extras
out/
logs/
TestResults/
*.trx
*.coverage*
*.cov
echo "publish/" >> .gitignore
echo "*.zip" >> .gitignore


# Bancos locais (SQL Server)
*.mdf
*.ldf

# Certificados/keys locais
*.pfx
*.snk

# AppSettings de ambientes (mantenha só o appsettings.json base no repo)
appsettings.Staging.json
appsettings.Production.json
appsettings.Local.json
appsettings.*.Local.json

# (Opcional) perfis de publish do VS — às vezes têm credenciais
Properties/PublishProfiles/
